<<<<<<< HEAD
<h3>Personality Test</h3>
<a href="/questions/new">Start the test</a>
=======
<div class="main_area">
    <div class="title">
        <h1>Personality Test</h1>
    </div>
    <div class="start_btn">
        <span><%= link_to 'Start the test', "questions/new", method: :get %></span>
    </div>
</div>
>>>>>>> 1d64b454c5f7324f3c548557f4a2a002b239e1a4
