<div class="main_area">
    <div class="question_area">
        <%= @question.question_text %>
    </div>
    <div class="answer_btn">
        <ul class="answer">
            <li class="list_item">はい</li>
            <li class="list_item">いいえ</li>
        </ul>
    </div>
    <div class="next_question_btn">
    </div>
</div>
