<div class="top_main_area">
    <div class="title">
        <h1>Personality Test</h1>
    </div>
    <%= form_with model: @answer do |f| %>
        <%= f.submit :"Start the test", class: "start_btn"%>
    <% end %>
</div>
