<div class="main_area">
    <div class="title">
        <h1>Personality Test</h1>
    </div>
    <div class="start_btn">
        <%= form_with model: @answer do |f| %>
            <%= f.submit %>
        <% end %>
    </div>
</div>