@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

.main_area {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("top.png") center / cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .title {
    margin: 0 auto;
    position: relative;
    top: 80px;
    .title_name {
      font-size: 60px;
      font-weight: 10;
      color: #ffffff;
      font-family: "Noteworthy";
    }
  }
  .top_start_area {
    text-align: center;
    .start_btn {
      border-radius: 10px;
      text-align: center;
      margin-top: 120px;
      padding: 10px 75px 10px 75px;
      font-size: 25px;
      font-family: "Noteworthy";
      color: #01476e;
      background-color: #ffffff;
      text-decoration: none;
      border: 2px solid #01476e;
      transition: 0.2s;
    }
    .start_btn:hover {
      background: #01476e;
      color: #ffffff;
      cursor: pointer;
      border: 0.5px solid #ffffff;
    }
  }
  .question_area {
    display: flex;
    justify-content: center;
    width: calc(100vw * 0.6);
    background-color: #ffffff;
    // text-align: center;
    min-height: 300px;
    border-radius: 20px;
    padding: 40px 40px;
    font-size: 25px;
    font-family: "Yuppy SC";
  }
  .answer_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .answer_btn {
      width: 130px;
      height: 50px;
      border-radius: 10px;
      text-align: center;
      margin: 80px 50px 0 50px;
      font-size: 25px;
      font-family: "Noteworthy";
      color: #01476e;
      background-color: #ffffff;
      text-decoration: none;
      border: 2px solid #01476e;
      transition: 0.2s;
    }
    .answer_btn:hover {
      background: #01476e;
      color: #ffffff;
      cursor: pointer;
      border: 0.5px solid #ffffff;
    }
  }
  .decision_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw * 0.6);
    background-color: #ffffff;
    text-align: center;
    min-height: 300px;
    border-radius: 20px;
    padding: 40px 40px;
    font-size: 35px;
    font-family: "Yuppy SC";
  }
  .restart_btn {
    width: 170px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin: 80px 50px 0 50px;
    font-size: 25px;
    font-family: "Noteworthy";
    color: #01476e;
    background-color: #ffffff;
    text-decoration: none;
    border: 2px solid #01476e;
    transition: 0.2s;
  }
  .restart_btn:hover {
    background: #01476e;
    color: #ffffff;
    cursor: pointer;
    border: 0.5px solid #ffffff;
  }
}
